<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952077368785-dv7q1glru37qfvfggeqmtqbl1obpvlk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952077368785-dv7q1glru37qfvfggeqmtqbl1obpvlk6</string>
	<key>API_KEY</key>
	<string>AIzaSyDnWbCRAhHL3lPgXSZwHC5BAJSapanlGrU</string>
	<key>GCM_SENDER_ID</key>
	<string>952077368785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sie021</string>
	<key>PROJECT_ID</key>
	<string>sie021-f9950</string>
	<key>STORAGE_BUCKET</key>
	<string>sie021-f9950.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952077368785:ios:e0e6cb269bd3d850dfb4f0</string>
</dict>
</plist>